@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: jetbrains mono, monospace;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e6e5ea;
    outline: none;
    appearance: none;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    z-index: 10;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #18171F;
    border: 2px solid #A4FFAF;
}